.counter__btns-row {
    margin-bottom: 15px;
    display: flex;
    column-gap: 10px;
}

@media (max-width: 961px) {}

@media (max-width: 768px) {
    .counter__btns-row {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 10px;
    }
}

@media (max-width: 460px) {}

@media (max-width: 370px) {}